<footer style="position: fixed; bottom: 0; width: 100%; border: 1px solid #b7b7b7; height: 110px;">
  <div class="centerFooter">
  <label for="" style="font-family: sans-serif;"><h2> &copy; {{currentYear.getFullYear()}} </h2></label>
  </div>
  <div style="display: flex; justify-content: end; margin-top: 40px; margin-right: 50px;">
    <i class="pi pi-google mr-4" style="font-size: 2rem; color:#0174BE;"></i>
    <i class="pi pi-linkedin mr-4" style="font-size: 2rem; color:#0174BE;"></i>
    <i class="pi pi-facebook" style="font-size: 2rem; color:#0174BE;"></i>
  </div>
</footer>
